.spanBlock {
    display: flex;
    align-items: center;
    gap: 20px;
    color: #0080FF;
}

.span {
}

.input {
    width: 276px;
    height: 36px;
    border: 1px solid #D1D1D1;
    border-radius: 5px;
    padding-left: 20px;
}

.pen {
}