.friendMessage {
    margin-bottom: 40px;
}

.friendImageAndText {
    display: flex;
}

.friendImageAndText img {
    width: 48px;
    margin-right: 15px;
}

.friendText {
    background: #F5F7FB;
    border-radius: 8px;
    padding: 5px;
}

.friendText:after {

}

.friendName {
    font-size: 18px;
}

.friendMessageText {

}

.friendTime {

}
