.sendForm {
    display: flex;
    align-items: center;
}

.textarea {
    width: 100%;
    resize: none;
    border-radius: 20px;
    overflow: hidden;
    padding: 20px;
    margin-right: 44px;
    background-color: #F5F7FB;
    border: none;
}

.button {
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 20px;
    background-color: #0066CC;
    color: #FFFFFF;
}

.button:hover {

}
.button:active {

}
